@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #FFFFFF;
}
::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* ---------------------------------- Laptops and Desktops ------------------------- */

@media (min-width: 1200px){

.max-width{
    max-width: 1300px;
    padding: 0 1px;
}

.fre{
  font-family: 'Poppins', sans-serif;
}

.fre{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
} /* change orientations here */

section .title{
  position: relative;
  text-align: center;
  color: #000000;
  font-size: 40px;
  font-weight: 500;
  margin-top: 5%;
  font-family: 'Ubuntu', sans-serif;
}

.fre{
  display: flex;
  color: #000000; /* Color of Name, and moving text in first page*/
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Ubuntu', sans-serif;
}
.fre .t{
  position: relative;
  text-align: center;
  color: #000000;
  font-size: 40px;
  font-weight: 500;
  margin-top: 0%;
  font-family: 'Ubuntu', sans-serif;
}

.box1 {
  position: relative;
  margin-top: 70%;
  margin-left: 15%;
  margin-bottom: -40%;
  transform: translate(-50%, -50%);
  width: 130%;
}

.box1 select {
  background-color: #98CB3B;
  color: white;
  padding: 12px;
  width: 100%;
  border-style: solid;
  border-width: 100px;
  border-block-color: #176696;
  border-block-start-color: #176696;
  border-top-color: #176696;
  border-color: #176696;
  font-size: 20px;
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

.box1::before {
  content: "\f13a";
  font-family: 'Ubuntu', sans-serif;
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  text-align: center;
  font-size: 28px;
  line-height: 45px;
  color: #176696;
  background-color: #176696;
  pointer-events: none;
}

.box1:hover::before {
  color: #176696;
  background-color: #176696;
}

.box1 select option {
  padding: 30px;
}

.fill {
  position: relative;
  margin-left: 20%;
  margin-top: 20%;
  top: 0%;
  left: 0%;
  transform: translate(-50%, -50%);
}
.fill1 {
  position: relative;
  margin-left: -10%;
  margin-top: 20%;
  top: 0%;
  left: 0%;
  transform: translate(-50%, -50%);
  float: left;
}
.fill2 {
  position: relative;
  margin-left: -10%;
  margin-top: 20%;
  top: 0%;
  left: 0%;
  transform: translate(-50%, -50%);
  float: left;
}

.box {
  position: relative;
  margin-left: -10%;
  margin-right: 20%;
  margin-top: 40%;
  transform: translate(-50%, -50%);
}

.box select {
  background-color: #98CB3B;
  color: white;
  padding: 12px;
  width: 100%;
  border: none;
  font-size: 20px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

.box::before {
  content: "\f13a";
  font-family: 'Ubuntu', sans-serif;
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  text-align: center;
  font-size: 28px;
  line-height: 45px;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

.box:hover::before {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.2);
}

.box select option {
  padding: 30px;
}

.figureLast{
  margin-left: -50%;
}

.slider {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  font-size: 24px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin-top: 20%;
}

}

/* ----------------------------------------- Big Tabs ------------------------------------------ */

@media (max-width: 1200px) and (min-width: 768px){

  
  .max-width{
    max-width: 1100px;
    padding: 0 40px;
    margin: auto;
  }
  
  .fre{
  font-family: 'Poppins', sans-serif;
  }
  
  .fre{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  } /* change orientations here */
  
  section .title{
  position: relative;
  text-align: center;
  color: #000000;
  font-size: 40px;
  font-weight: 500;
  margin-top: 10%;
  width: 100%;
  font-family: 'Ubuntu', sans-serif;
  }
  
  .fre{
  display: flex;
  color: #000000; /* Color of Name, and moving text in first page*/
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Ubuntu', sans-serif;
  }
  .fre .t{
    position: relative;
    text-align: center;
    color: #000000;
    font-size: 40px;
    font-weight: 500;
    margin-top: 10%;
    font-family: 'Ubuntu', sans-serif;
  }
  
  .box1 {
    position: relative;
    margin-top: 130%;
    margin-left: 55%;
    margin-bottom: -40%;
    transform: translate(-50%, -50%);
    width: 130%;
  }
  
  .box1 select {
    background-color: #98CB3B;
    color: white;
    padding: 12px;
    width: 100%;
    border-style: solid;
    border-width: 100px;
    border-block-color: #176696;
    border-block-start-color: #176696;
    border-top-color: #176696;
    border-color: #176696;
    font-size: 20px;
    -webkit-appearance: button;
    appearance: button;
    outline: none;
  }
  
  .box1::before {
    content: "\f13a";
    font-family: 'Ubuntu', sans-serif;
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    text-align: center;
    font-size: 28px;
    line-height: 45px;
    color: #176696;
    background-color: #176696;
    pointer-events: none;
  }
  
  .box1:hover::before {
    color: #176696;
    background-color: #176696;
  }
  
  .box1 select option {
    padding: 30px;
  }
  
  .fill {
    position: relative;
    margin-left: 20%;
    margin-top: 20%;
    top: 0%;
    left: 0%;
    transform: translate(-50%, -50%);
  }
  .fill1 {
    position: relative;
    margin-left: 25%;
    margin-top: 20%;
    top: 0%;
    left: 0%;
    transform: translate(-50%, -50%);
    float: left;
  }
  .fill2 {
    position: relative;
    margin-left: 25%;
    margin-top: 20%;
    top: 0%;
    left: 0%;
    transform: translate(-50%, -50%);
    float: left;
  }
  
  .box {
    position: relative;
    margin-left: 30%;
    margin-right: 20%;
    margin-top: 40%;
    transform: translate(-50%, -50%);
  }
  
  .box select {
    background-color: #98CB3B;
    color: white;
    padding: 12px;
    width: 100%;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
  }
  
  .box::before {
    content: "\f13a";
    font-family: 'Ubuntu', sans-serif;
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    text-align: center;
    font-size: 28px;
    line-height: 45px;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    pointer-events: none;
  }
  
  .box:hover::before {
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .box select option {
    padding: 30px;
  }

  .figureLast{
    margin-left: -30%;
  }

  .slider {
    width: 150%;
    height: 15px;
    border-radius: 5px;
    outline: none;
    opacity: 0.7;
    margin-top: 20%;
  }
  
  }

/* ----------------------------------------- Small Tabs ------------------------------------------ */

@media (max-width: 768px) and (min-width: 720px){

  
.max-width{
  max-width: 1024px;
  padding: 0 40px;
  margin: auto;
}

.fre{
font-family: 'Poppins', sans-serif;
}

.fre{
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-between;
} /* change orientations here */

section .title{
position: relative;
text-align: center;
color: #000000;
font-size: 40px;
font-weight: 500;
margin-top: 10%;
font-family: 'Ubuntu', sans-serif;
}

.fre{
display: flex;
color: #000000; /* Color of Name, and moving text in first page*/
background-size: cover;
background-attachment: fixed;
font-family: 'Ubuntu', sans-serif;
}
.fre .t{
  position: relative;
  text-align: center;
  color: #000000;
  font-size: 40px;
  font-weight: 500;
  margin-top: 10%;
  font-family: 'Ubuntu', sans-serif;
}

.box1 {
  position: relative;
  margin-top: 100%;
  margin-left: 55%;
  margin-bottom: -40%;
  transform: translate(-50%, -50%);
  width: 130%;
}

.box1 select {
  background-color: #98CB3B;
  color: white;
  padding: 12px;
  width: 100%;
  border-style: solid;
  border-width: 100px;
  border-block-color: #176696;
  border-block-start-color: #176696;
  border-top-color: #176696;
  border-color: #176696;
  font-size: 20px;
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

.box1::before {
  content: "\f13a";
  font-family: 'Ubuntu', sans-serif;
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  text-align: center;
  font-size: 28px;
  line-height: 45px;
  color: #176696;
  background-color: #176696;
  pointer-events: none;
}

.box1:hover::before {
  color: #176696;
  background-color: #176696;
}

.box1 select option {
  padding: 30px;
}

.fill {
  position: relative;
  margin-left: 20%;
  margin-top: 20%;
  top: 0%;
  left: 0%;
  transform: translate(-50%, -50%);
}
.fill1 {
  position: relative;
  margin-left: 25%;
  margin-top: 20%;
  top: 0%;
  left: 0%;
  transform: translate(-50%, -50%);
  float: left;
}
.fill2 {
  position: relative;
  margin-left: 25%;
  margin-top: 20%;
  top: 0%;
  left: 0%;
  transform: translate(-50%, -50%);
  float: left;
}

.box {
  position: relative;
  margin-left: 30%;
  margin-right: 20%;
  margin-top: 40%;
  transform: translate(-50%, -50%);
}

.box select {
  background-color: #98CB3B;
  color: white;
  padding: 12px;
  width: 100%;
  border: none;
  font-size: 20px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

.box::before {
  content: "\f13a";
  font-family: 'Ubuntu', sans-serif;
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  text-align: center;
  font-size: 28px;
  line-height: 45px;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

.box:hover::before {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.2);
}

.box select option {
  padding: 30px;
}

.figureLast{
  margin-left: 0%;
}

}

/* ----------------------------------------------- Large Phones ---------------------------------- */

@media (max-width: 720px) and (min-width: 420px){

  
  .max-width{
    max-width: 715px;
    padding: 0 40px;
    margin: auto;
  }
  
  .fre{
  font-family: 'Poppins', sans-serif;
  }
  
  .fre{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  } /* change orientations here */
  
  section .title{
  position: relative;
  text-align: center;
  color: #000000;
  font-size: 40px;
  font-weight: 500;
  margin-top: 10%;
  width: 80%;
  font-family: 'Ubuntu', sans-serif;
  }
  
  .fre{
  display: flex;
  color: #000000; /* Color of Name, and moving text in first page*/
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Ubuntu', sans-serif;
  }
  .fre .t{
    position: relative;
    text-align: center;
    color: #000000;
    font-size: 40px;
    font-weight: 500;
    margin-top: 10%;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
  }

  .box1 {
    position: relative;
    margin-top: 100%;
    margin-left: 55%;
    margin-bottom: -40%;
    transform: translate(-50%, -50%);
    width: 130%;
  }
  
  .box1 select {
    background-color: #98CB3B;
    color: white;
    padding: 12px;
    width: 100%;
    border-style: solid;
    border-width: 100px;
    border-block-color: #176696;
    border-block-start-color: #176696;
    border-top-color: #176696;
    border-color: #176696;
    font-size: 20px;
    -webkit-appearance: button;
    appearance: button;
    outline: none;
  }
  
  .box1::before {
    content: "\f13a";
    font-family: 'Ubuntu', sans-serif;
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    text-align: center;
    font-size: 28px;
    line-height: 45px;
    color: #176696;
    background-color: #176696;
    pointer-events: none;
  }
  
  .box1:hover::before {
    color: #176696;
    background-color: #176696;
  }
  
  .box1 select option {
    padding: 30px;
  }

  .fill {
    position: relative;
    margin-left: 20%;
    margin-top: 20%;
    top: 0%;
    left: 0%;
    transform: translate(-50%, -50%);
  }
  .fill1 {
    position: relative;
    margin-left: 35%;
    margin-top: 20%;
    top: 0%;
    left: 0%;
    transform: translate(-50%, -50%);
    float: left;
  }
  .fill2 {
    position: relative;
    margin-left: 35%;
    margin-top: 20%;
    top: 0%;
    left: 0%;
    transform: translate(-50%, -50%);
    float: left;
  }

  .box {
    position: relative;
    margin-right: 20%;
    margin-left: 25%;
    margin-top: 40%;
    transform: translate(-50%, -50%);
  }
  
  .box select {
    background-color: #98CB3B;
    color: white;
    padding: 12px;
    width: 100%;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
  }
  
  .box::before {
    content: "\f13a";
    font-family: 'Ubuntu', sans-serif;
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    text-align: center;
    font-size: 28px;
    line-height: 45px;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    pointer-events: none;
  }
  
  .box:hover::before {
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .box select option {
    padding: 30px;
  }

  .figureLast{
    margin-left: 0%;
  }

}

/* ------------------------------------- Small Phones ------------------------------------ */

@media (max-width: 420px){

  
  .max-width{
    max-width: 460px;
    padding: 0 40px;
    margin: auto;
  }
  
  .fre{
  font-family: 'Poppins', sans-serif;
  }
  
  .fre{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  } /* change orientations here */
  
  section .title{
  position: relative;
  text-align: center;
  color: #000000;
  font-size: 40px;
  font-weight: 500;
  margin-top: 10%;
  width: 80%;
  font-family: 'Ubuntu', sans-serif;
  }
  
  .fre{
  display: flex;
  color: #000000; /* Color of Name, and moving text in first page*/
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Ubuntu', sans-serif;
  }
  .fre .t{
    position: relative;
    text-align: center;
    color: #000000;
    font-size: 30px;
    font-weight: 500;
    margin-top: 10%;
    margin-left: -5%;
    width: 80%;
    font-family: 'Ubuntu', sans-serif;
  }

  .box1 {
    position: relative;
    margin-top: 120%;
    margin-left: 52%;
    margin-bottom: -40%;
    transform: translate(-50%, -50%);
    width: 130%;
  }
  
  .box1 select {
    background-color: #98CB3B;
    color: white;
    padding: 12px;
    width: 100%;
    border-style: solid;
    border-width: 100px;
    border-block-color: #176696;
    border-block-start-color: #176696;
    border-top-color: #176696;
    border-color: #176696;
    font-size: 20px;
    -webkit-appearance: button;
    appearance: button;
    outline: none;
  }
  
  .box1::before {
    content: "\f13a";
    font-family: 'Ubuntu', sans-serif;
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    text-align: center;
    font-size: 28px;
    line-height: 45px;
    color: #176696;
    background-color: #176696;
    pointer-events: none;
  }
  
  .box1:hover::before {
    color: #176696;
    background-color: #176696;
  }
  
  .box1 select option {
    padding: 30px;
  }

  .fill {
    position: relative;
    margin-left: 20%;
    margin-top: 20%;
    top: 0%;
    left: 0%;
    transform: translate(-50%, -50%);
  }
  .fill1 {
    position: relative;
    margin-left: 30%;
    margin-top: 20%;
    top: 0%;
    left: 0%;
    transform: translate(-50%, -50%);
    float: left;
  }
  .fill2 {
    position: relative;
    margin-left: 30%;
    margin-top: 20%;
    top: 0%;
    left: 0%;
    transform: translate(-50%, -50%);
    float: left;
  }

  .box {
    position: relative;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 40%;
    transform: translate(-50%, -50%);
  }
  
  .box select {
    background-color: #98CB3B;
    color: white;
    padding: 12px;
    width: 100%;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
  }
  
  .box::before {
    content: "\f13a";
    font-family: 'Ubuntu', sans-serif;
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    text-align: center;
    font-size: 28px;
    line-height: 45px;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    pointer-events: none;
  }
  
  .box:hover::before {
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .box select option {
    padding: 30px;
  }

  .figureLast{
    margin-left: 0%;
  }
  
  }

.select1{
  position: relative;
  width: 10%;
  z-index: 999;
  padding: 10px 0;
  font-family: 'Ubuntu', sans-serif;
  transition: all 0.3s ease;
}

section{
  padding: 10px 0;
}
.max-width{
  max-width: 1300px;
  padding: 0 10px;
  margin: auto;
}

/* ----------------------------------------- Plot Button -----------------------------------------------------*/

.button1{
  all: unset;
  width: 100px;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: 0%;
  margin-top: 20%;
}

.button2{
  all: unset;
  width: 100px;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: 0%;
  margin-top: 10%;
}

.button1::after,.button1::before,.button2::after,.button2::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all .4s;
}

.button1::before,.button2::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #2C9AD1;
  border-radius: 10px;
}

.button1::after,.button2::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.button1:hover::before,.button2:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.button1:hover::after,.button2:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.button1:active::after,.button2:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}

/* ------------------------------- LTI Box 2 ------------------------------------------- */

.box2 {
  position: relative;
  /*margin-left: 20%;*/
  margin-top: 45%;
  margin-bottom: 0%;
  margin-left: 40%;
  transform: translate(-50%, -50%);
  width: 80%;
}

.box2 select {
  background-color: #98CB3B;
  color: white;
  padding: 12px;
  width: 100%;
  border-style: solid;
  border-width: 80px;
  border-block-color: #176696;
  border-block-start-color: #176696;
  border-top-color: #176696;
  border-color: #176696;
  font-size: 20px;
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

.box2::before {
  content: "\f13a";
  font-family: 'Ubuntu', sans-serif;
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  text-align: center;
  font-size: 28px;
  line-height: 45px;
  color: #176696;
  background-color: #176696;
  pointer-events: none;
}

.box2:hover::before {
  color: #176696;
  background-color: #176696;
}

.box2 select option {
  padding: 30px;
}

/* ------------------------------- LTI Box 3 ------------------------------------------- */

.box3 {
  position: relative;
  /*margin-left: 20%;*/
  margin-top: 60%;
  margin-bottom: 60%;
  margin-left: 40%;
  transform: translate(-50%, -50%);
  width: 80%;
}

.box3 select {
  background-color: #98CB3B;
  color: white;
  padding: 12px;
  width: 100%;
  border-style: solid;
  border-width: 80px;
  border-block-color: #176696;
  border-block-start-color: #176696;
  border-top-color: #176696;
  border-color: #176696;
  font-size: 20px;
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

.box3::before {
  content: "\f13a";
  font-family: 'Ubuntu', sans-serif;
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  text-align: center;
  font-size: 28px;
  line-height: 45px;
  color: #176696;
  background-color: #176696;
  pointer-events: none;
}

.box3:hover::before {
  color: #176696;
  background-color: #176696;
}

.box3 select option {
  padding: 30px;
}

/* ------------------------------- LTI Box 4 ------------------------------------------- */

.box4 {
  position: relative;
  /*margin-left: 20%;*/
  margin-top: 30%;
  margin-bottom: 60%;
  margin-left: 40%;
  transform: translate(-50%, -50%);
  width: 80%;
}

.box4 select {
  background-color: #98CB3B;
  color: white;
  padding: 12px;
  width: 100%;
  border-style: solid;
  border-width: 80px;
  border-block-color: #176696;
  border-block-start-color: #176696;
  border-top-color: #176696;
  border-color: #176696;
  font-size: 20px;
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

.box4::before {
  content: "\f13a";
  font-family: 'Ubuntu', sans-serif;
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  text-align: center;
  font-size: 28px;
  line-height: 45px;
  color: #176696;
  background-color: #176696;
  pointer-events: none;
}

.box4:hover::before {
  color: #176696;
  background-color: #176696;
}

.box4 select option {
  padding: 30px;
}

/* ----------------------------------- Multi button ----------------------------------------- */

.button3{
  all: unset;
  width: 100px;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: 10%;
  margin-top: -70%;
}

.button3::after,.button3::before{
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all .4s;
}

.button3::before{
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #2C9AD1;
  border-radius: 10px;
}

.button3::after{
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.button3:hover::before{
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.button3:hover::after{
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.button3:active::after{
  transition: 0s;
  transform: translate(0, 5%);
}

/* ---------------------------------------------------- Tabs -------------------------------------------- */

.tab {
  overflow: hidden;
  border: 1px solid #FFFFFF;
  background-color: #FFFFFF;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
  border-style: solid;
  border-radius: 10px;
  border-color: #98CB3B;
  color: #176696;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

/* ------------------------------------------- blocks --------------------------------- */

.boxB {
  position: relative;
  /*margin-left: 20%;*/
  margin-top: 10%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.boxB select {
  background-color: #98CB3B;
  color: white;
  padding: 12px;
  width: 100%;
  border-style: solid;
  border-width: 100px;
  border-block-color: #176696;
  border-block-start-color: #176696;
  border-top-color: #176696;
  border-color: #176696;
  font-size: 20px;
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

.boxB::before {
  content: "\f13a";
  font-family: 'Ubuntu', sans-serif;
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  text-align: center;
  font-size: 28px;
  line-height: 45px;
  color: #176696;
  background-color: #176696;
  pointer-events: none;
}

.boxB:hover::before {
  color: #176696;
  background-color: #176696;
}

.boxB select option {
  padding: 30px;
}

.buttonB{
  all: unset;
  width: 100px;
  height: 30px;
  font-size: 16px;
  background: transparent;
  background: #2C9AD1;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: 10%;
  border-radius: 15%;
}

.buttonB::after,.button3::before{
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all .4s;
}

.buttonB::before{
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #2C9AD1;
  border-radius: 10px;
}

.buttonB::after{
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.buttonB:hover::before{
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.buttonB:hover::after{
  border-radius: 010px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.buttonB:active::after{
  transition: 0s;
  transform: translate(0, 5%);
}

/* ------------------------------------------ Table ------------------------------------ */

table,td,tr {
        padding: 10%;
        border: 3px solid black;
        border-collapse: collapse;
}

th{
  border: 3px solid black;
  background-color: #AAA;
}

/* -------------------------------------- Area -------------------------------------------------- */

#canvas {
  border: 1px solid #000;
}